[Unit]
Description=Prometheus IPMI Exporter
Documentation=https://github.com/lovoo/ipmi_exporter/
After=network-online.target

[Service]
#User=ipmi_exporter
Restart=on-failure
ExecStart=/usr/bin/ipmi_exporter --log.level=error --config.file /etc/ipmi_exporter/ipmi.yml

[Install]
WantedBy=multi-user.target
